/**
 * CompanyCustom.css     
 *
 * All custom and miscellaneous styles that do not pertain to any available
 * sections in CompanyStyle.css.                           
 */



/* ==========================================================================
   Index:                                                

    - Components
    - Template Module Classes
    - Unique pages
    - Micellaneous
    - Mobile
 
   ========================================================================== */





/* ==========================================================================
   Components                                               
   ========================================================================== */


/* Ex. Additional Menus aside from the Main Nav */

/* Ex. Extra Container Wrappers */

/* Ex. Extra Button Styles */

/* Ex. Social Media Icons */

/* Ex. Callouts */





/* ==========================================================================
   Template Module Classes                                               
   ========================================================================== */


/* Site Pages
   ========================================================================== */

/* Full Width Template */
.full-width-template .full-width{}

/* Three Column Template */
.three-column-template{}
.three-column-template .left-column{}
.three-column-template .center-column{}
.three-column-template .sidebar{}

/* Two Column Template */
.two-column-template{}
.two-column-template .left-column{}
.two-column-template .sidebar{}


/* Landing Pages
   ========================================================================== */

/* Full Width Template */
.full-width-template-landing-page .full-width{}

/*Thank You Flex Template */
.thank-you-template{}
.thank-you-template .left-column{}
.thank-you-template .sidebar{}

/*Three Column Template */
.three-column-template-landing-page{}
.three-column-template-landing-page .left-column{}
.three-column-template-landing-page .center-column{}
.three-column-template-landing-page .sidebar-form{}

/* Two Column Template */
.two-column-template-landing-page{}
.two-column-template-landing-page .left-column{}
.two-column-template-landing-page .sidebar-form{}





/* ==========================================================================
   Unique Pages                                             
   ========================================================================== */


/* Ex. Homepage */

/* Ex. Contact Us */

/* Ex. About Us */





/* ==========================================================================
   Miscellaneous                                             
   ========================================================================== */


/* Ex. Fancybox Plugin Overrides */

/* Ex. Twitter Feed Overrides */

/* Ex. Any 3rd Party Plugin/Code Overrides */





/* ==========================================================================
   Mobile                                                 
   ========================================================================== */


/* Large Desktop
   ========================================================================== */
@media (min-width: 1200px) {}


/* Landscape phone to portrait tablet
   ========================================================================== */
@media (max-width: 767px) {}
     

/* Landscape phones and down
   ========================================================================== */
@media (max-width: 480px) {}


/* iPhone
   ========================================================================== */
@media (max-width: 320px) {}


